[run]
omit =
    */schema_registry/schema_registry_client.py
    */schema_registry/mock_schema_registry_client.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError