Timestamp,Partition,Offset,Key,Value,Headers
{% for message in messages if include_markers or not message._marker %}
{{ message.timestamp()[1] }},{{ message.partition() }},{{ message.offset() }},{{ message.key() }},{{ message.value(None) }},{% if message.headers() %}{{ message.headers() | join(';') }}{% else %}null{% endif %}
{% endfor %}