<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="timestamp" content="{{ timestamp }}">
    <meta name="os" content="{{ os }}">
    <title>kafka_mocha</title>
    <link rel="icon" href="https://effiware.com/favicon.ico">
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            background-color: #1a202c; /* bg-gray-900 */
            color: #e2e8f0; /* text-gray-300 */
        }

        .container {
            flex: 1;
            width: 90%;
            margin: auto;
        }

        .search-bar {
            margin-bottom: 20px;
        }

        .table-container {
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #4a5568; /* border-gray-600 */
            padding: 8px;
        }

        th {
            background-color: #2d3748; /* bg-gray-700 */
        }

        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .pagination button {
            margin: 0 5px;
            padding: 5px 10px;
            background-color: #ecc94b; /* bg-yellow-500 */
            color: #0c4a6e; /* text-sky-800 */
            border: none;
            cursor: pointer;
            border-radius: 0.5rem; /* rounded-lg */
        }

        .pagination button:hover {
            background-color: #f6e05e; /* hover:bg-yellow-400 */
        }

        .footer {
            text-align: center;
            padding: 10px 0;
            background-color: #2d3748; /* bg-gray-700 */
        }

        .footer img {
            height: 20px;
            vertical-align: middle;
        }

        .footer a {
            margin: 0 10px;
            color: #ecc94b; /* text-yellow-500 */
        }

        .dropdown {
            margin-bottom: 20px;
        }

        .tabs {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .tab {
            padding: 10px;
            cursor: pointer;
            background-color: #2d3748; /* bg-gray-700 */
            margin-right: 5px;
            border-radius: 0.5rem; /* rounded-lg */
        }

        .tab.active {
            background-color: #ecc94b; /* bg-yellow-500 */
            color: #0c4a6e; /* text-sky-800 */
        }
    </style>
</head>
<body>
<div class="container">
    <a href="https://effiware.com">
        <img src="https://effiware.com/images/Effiware-removebg.png" alt="Effiware Logo"
             style="width: 170px; height: auto; margin-top: 10px;">
    </a>
    <h1>Embedded Kafka - message dump</h1>
    <p>Generated at: {{ timestamp }}</p>
    <div class="tabs" id="tabs">
        {% for topic in topics | sort(attribute='name') %}
            <div class="tab" onclick="showTopic('{{ topic.name }}')">{{ topic.name }}</div>
        {% endfor %}
    </div>
    <div class="search-bar">
            <span class="search-bar">
                <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Search for messages..">
            </span>
        <span class="dropdown">
                <label for="rowsPerPage">Messages per page:</label>
                <select id="rowsPerPage" onchange="changeRowsPerPage()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </span>
    </div>
    <div class="table-container">
        {% for topic in topics %}
            <table id="table-{{ topic.name }}" class="messagesTable" style="display: none;">
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Partition</th>
                    <th>Offset</th>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Headers</th>
                </tr>
                </thead>
                <tbody>
                {% for message in topic.messages if include_markers or not message._marker %}
                    <tr>
                        <td>{{ message.timestamp()[1] }}</td>
                        <td>{{ message.partition() }}</td>
                        <td>{{ message.offset() }}</td>
                        <td>{{ message.key() }}</td>
                        <td>{{ message.value(None) }}</td>
                        <td>{{ message.headers() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
    <div class="pagination">
        <button onmouseover="hoverButton(this)" onmouseout="unhoverButton(this)" onclick="prevPage()">Previous</button>
        <button onmouseover="hoverButton(this)" onmouseout="unhoverButton(this)" onclick="nextPage()">Next</button>
    </div>
</div>
<footer class="footer">
    <p>
        <a href="https://effiware.com/en/contact" target="_blank">Effiware</a>
        <a href="https://github.com/Effiware/kafka-mocha" target="_blank">
            <img src="https://img.icons8.com/ios-glyphs/60/FFFFFF/github.png" alt="GitHub"
                 style="height: 20px; vertical-align: bottom;"></a>
        <a href="https://pypi.org/project/kafka-mocha/" target="_blank"><img
                src="https://img.icons8.com/material-rounded/48/FFFFFF/pypi.png" alt="PyPi"
                style="height: 20px; vertical-align: bottom;"></a>
        Support me with <a href="https://buymeacoffee.com/and.ratajski" target="_blank"><img
            src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
            style="height: 20px; vertical-align: bottom;"></a>
    </p>
</footer>
<script>
    var currentPage = 1;
    var rowsPerPage = 10;
    var currentTopic = "{{ topics[0].name }}";

    function displayTablePage(page) {
        var table, tr, i;
        table = document.getElementById("table-" + currentTopic);
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
        }
        for (i = (page - 1) * rowsPerPage + 1; i <= page * rowsPerPage && i < tr.length; i++) {
            tr[i].style.display = "";
        }
    }

    function prevPage() {
        if (currentPage > 1) {
            currentPage--;
            displayTablePage(currentPage);
        }
    }

    function nextPage() {
        var table, tr;
        table = document.getElementById("table-" + currentTopic);
        tr = table.getElementsByTagName("tr");
        if (currentPage * rowsPerPage < tr.length - 1) {
            currentPage++;
            displayTablePage(currentPage);
        }
    }

    function searchTable() {
        var input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        table = document.getElementById("table-" + currentTopic);
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
        currentPage = 1;
        displayTablePage(currentPage);
    }

    function changeRowsPerPage() {
        var select = document.getElementById("rowsPerPage");
        rowsPerPage = parseInt(select.value);
        currentPage = 1;
        displayTablePage(currentPage);
    }

    function hoverButton(button) {
        button.style.backgroundColor = "#f6e05e"; /* hover:bg-yellow-400 */
    }

    function unhoverButton(button) {
        button.style.backgroundColor = "#ecc94b"; /* bg-yellow-500 */
    }

    function showTopic(topic) {
        currentTopic = topic;
        var tables = document.getElementsByClassName("messagesTable");
        for (var i = 0; i < tables.length; i++) {
            tables[i].style.display = "none";
        }
        document.getElementById("table-" + topic).style.display = "table";
        var tabs = document.getElementsByClassName("tab");
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove("active");
        }
        event.target.classList.add("active");
        currentPage = 1;
        displayTablePage(currentPage);
    }

    window.onload = function () {
        showTopic(currentTopic);
    };
</script>
</body>
</html>